body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: rgb(26, 60, 63);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    background:rgb(0, 0, 0);
    padding: 30px;
    border-radius: 12px;
    width: 300px;
}

form h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="tel"] {
    width: 93%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    background-color:rgb(26, 21, 97);
    color: white;
}

form input[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #e50914;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}